{% extends "base.html" %}

{% block title %}My Projects - My Portfolio{% endblock %}

{% block content %}
<h2>My Projects</h2>
<div class="project">
    <h3>[Project 1 Name]</h3>
    <p>[Brief description of the project]</p>
    <p>Technologies used: [List of technologies]</p>
    <a href="#">View Project</a>
</div>
<div class="project">
    <h3>[Project 2 Name]</h3>
    <p>[Brief description of the project]</p>
    <p>Technologies used: [List of technologies]</p>
    <a href="#">View Project</a>
</div>
<div class="project">
    <h3>[Project 3 Name]</h3>
    <p>[Brief description of the project]</p>
    <p>Technologies used: [List of technologies]</p>
    <a href="#">View Project</a>
</div>
{% endblock %}